---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
import AllData from '../components/AllData.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<Aside />
		<div>
			<Header title="Dashboard" />
			<AllData />
		</div>
	</div>
</Layout>
