---
---

<aside>
    <h1>BA</h1>
    <nav>
        <h3>Menu</h3>
        <ul>
            <li>Dashboard</li>
            <li>Live Data</li>
        </ul>
        <h3>Commands</h3>
        <ul>
            <li>install</li>
            <li>bootstrap</li>
            <li>unit test</li>
            <li>build</li>
        </ul>
    </nav>
</aside>

