---
---

<aside class="m-4">
    <h1 class="text-4xl ml-2 mt-4 mb-4">Build 📊 Analytics</h1>
    <nav class="mt-8">
        <h3 class="text-lg m-2 mt-8 text-gray-500">Menu</h3>
        <ul>
            <li class="text-xl m-2"><a href="/">Dashboard</a></li>
            <li class="text-xl m-2"><a href="/live-data">Live Data</a></li>
        </ul>
        <h3 class="text-lg m-2 mt-8 text-gray-500">Commands</h3>
        <ul>
            <li class="text-xl m-2"><a href="/commands/install">install</a></li>
            <li class="text-xl m-2"><a href="/commands/bootstrap">bootstrap</a></li>
            <li class="text-xl m-2"><a href="/commands/unit-test">unit test</a></li>
            <li class="text-xl m-2"><a href="/commands/build">build</a></li>
        </ul>
    </nav>
</aside>

