---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type React from "react";
import { Icon } from "astro-icon/components";

import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

interface Props {
  data: {id: number, cpu: string, mem: number, graphics: string}[];
}

const { data } = Astro.props;
---

<Card className="p-4">
  <CardHeader>
    <CardTitle>Hardware Configs</CardTitle>
  </CardHeader>
  <CardContent>
    <Table>
      <TableCaption>Demo data, some of them are not true.</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead className="font-bold">CPU</TableHead>
          <TableHead className="font-bold">MEM</TableHead>
          <TableHead className="font-bold">Graphics</TableHead>
          <!-- <TableHead className="text-right">Amount</TableHead> -->
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          data.map((d) => (
            <TableRow key={d.id}>
              <TableCell className="">{d.cpu}</TableCell>
              <TableCell>{d.mem}</TableCell>
              <TableCell>{d.graphics}</TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table>
  </CardContent>
</Card>
