---
import { HW, Run, OS, db, desc, eq } from "astro:db";
import ConfigTableCard from "./ConfigTableCard.astro";
import DashPieChart from "./PieChartCard.tsx";
import SummaryCard from "./SummaryCard.astro";

const runs = await db
  .select()
  .from(Run)
  .innerJoin(OS, eq(Run.osId, OS.id))
  .orderBy(desc(Run.date));
const hwConfigs = await db.select().from(HW);
const osConfigs = await db.select().from(OS);

const osData: any[] = [
  {
    name: "Windows",
    value: runs.filter(({ OS, Run }) => OS.platform === "Windows").length,
  },
  {
    name: "Linux",
    value: runs.filter(({ OS, Run }) => OS.platform === "linux").length,
  },
  {
    name: "Mac",
    value: runs.filter(({ OS, Run }) => OS.platform === "darwin").length,
  },
];
---

<main class="m-4 grid gap-4">
  <div class="grid grid-cols-3 gap-2">
    <SummaryCard
      icon="mdi:file-document-box-multiple-outline"
      data={runs.length.toString()}
      title="Data entries"
    />
    <SummaryCard
      icon="mdi:computer"
      data={hwConfigs.length.toString()}
      title="HW Configs"
    />
    <SummaryCard
      icon="mdi:account"
      data={osConfigs.length.toString()}
      title="OS Configs"
    />
  </div>
  <DashPieChart name="OS Distribution" data={osData} />
  <ConfigTableCard
    data={hwConfigs.map((h) => ({
      id: h.id,
      cpu: h.cpu_brand,
      mem: h.mem_total,
      graphics: h.graphics,
    }))}
  />
</main>
