---
import { HW, Run, OS, db, desc, eq } from "astro:db";
import ConfigTableCard from "./ConfigTableCard.astro";
import DashPieChart from "./PieChartCard.tsx";
import SummaryCard from "./SummaryCard.astro";

const DATA = [
  { name: "Group A", value: 400 },
  { name: "Group B", value: 300 },
  { name: "Group C", value: 300 },
  { name: "Group D", value: 200 },
];
const runs = await db.select().from(Run);
const hwConfigs = await db.select().from(HW);
const osConfigs = await db.select().from(OS);
---

<main class="m-4 grid gap-4">
  <div class="grid grid-cols-3 gap-2">
    <SummaryCard
      icon="mdi:file-document-box-multiple-outline"
      data={runs.length.toString()}
      title="Data entries"
      change={0.2}
    />
    <SummaryCard
      icon="mdi:computer"
      data={hwConfigs.length.toString()}
      title="HW Configs"
      change={0.2}
    />
    <SummaryCard
      icon="mdi:account"
      data={osConfigs.length.toString()}
      title="OS Configs"
      change={0.2}
    />
  </div>
  <DashPieChart name="OS Distribution" data={DATA} />
  <ConfigTableCard
    data={hwConfigs.map((h) => ({
      id: h.id,
      cpu: h.cpu_brand,
      mem: h.mem_total,
      graphics: h.graphics,
    }))}
  />
</main>
