---
import Layout from '../../layouts/Layout.astro';
import Aside from '../../components/Aside.astro';
import AllData from '../../components/AllData.astro';
import Header from '../../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<div class="container mx-auto grid grid-cols-[300px_1fr]">
		<Aside />
		<div class="m-4">
			<Header title="Dashboard" />
			<AllData />
		</div>
	</div>
</Layout>
